<app-slider></app-slider>
<div class="body">
<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal1" >
            <div class="col">
                
                <img  src="assets/img/galeria_1.jpg" alt="Delfin feliz" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal2" >
            <div class="col">
                
                <img  src="assets/img/galeria_2.jpg" alt="Medusa tricolor" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal3" >
            <div class="col">
                
                <img  src="assets/img/galeria_3.jpg" alt="Grupo de medusas" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal4" >
            <div class="col">
                
                <img  src="assets/img/galeria_4.jpg" alt="Ballena Azul" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal5" >
            <div class="col">
                
                <img  src="assets/img/galeria_5.jpg" alt="Foca madre e hija" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal6" >
            <div class="col">
                
                <img  src="assets/img/galeria_6.jpg" alt="Pareja de delfines" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal7" >
            <div class="col">
                
                <img  src="assets/img/galeria_7.jpg" alt="Coral" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal8" >
            <div class="col">
                
                <img  src="assets/img/galeria_8.jpg" alt="Pez lomo plateado" >
                
            </div>
        </a>
        <a routerLink="modals" data-bs-toggle="modal" data-bs-target="#modal9" >
            <div class="col">
                
                <img  src="assets/img/galeria_9.jpg" alt="tortuga caiman" >
                
            </div>
        </a>

        
    </div>
</div>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Delfin Feliz
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_1.jpg" alt="delfin feliz" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Medusa tricolor
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_2.jpg" alt="Medusa tricolor" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Grupo de medusas
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_3.jpg" alt="Grupo de medusas" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Salto de ballena azul
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_4.jpg" alt="Salto de ballena azul" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Leones marinos
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_5.jpg" alt="Leones marinos" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Pareja de delfines
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_6.jpg" alt="Pareja de delfines" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Coral del pacífico
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_7.jpg" alt="Coral" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Pez lomo plateado
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_8.jpg" alt="Pez lomo plateado" width="100%">
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="modal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          Tortuga Caimán
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/galeria_9.jpg" alt="Tortuga caimán" width="100%">
        </div>
        
      </div>
    </div>
</div>
</div>
