<div class="global">
    <div class="container">
        <div>
            <img src="assets/img/imgindex.png" alt="Imágen Principal" width="100%">
        </div>
        <div class="bloque">
            <div class="titulo">
                <h1>Objetivo 14: Vida submarina</h1>
            </div>
            <div>
                <p class="texto">
                    Los océanos del mundo, su temperatura, composición química, corrientes y vida son el motor de los sistemas globales que hacen que la Tierra sea un lugar habitable para los seres humanos. La forma en que gestionamos este recurso vital es fundamental para la humanidad y para contrarrestar los efectos del cambio climático. <br>

                    Los medios de vida de más de 3.000 millones de personas dependen de la biodiversidad marina y costera. Sin embargo, el 30% de las poblaciones de peces del mundo está sobreexplotado, alcanzando un nivel muy por debajo del necesario para producir un rendimiento sostenible.<br>

                    Los océanos también absorben alrededor del 30% del dióxido de carbón generado por las actividades humanas y se ha registrado un 26% de aumento en la acidificación de los mares desde el inicio de la revolución industrial. La contaminación marina, que proviene en su mayor parte de fuentes terrestres, ha llegado a niveles alarmantes: por cada kilómetro cuadrado de océano hay un promedio de 13.000 trozos de desechos plásticos.<br>

                    Los Objetivos de Desarrollo Sostenible generan un marco para ordenar y proteger de manera sostenible los ecosistemas marinos y costeros de la contaminación terrestre, así como para abordar los impactos de la acidificación de los océanos. Mejorar la conservación y el uso sostenible de los recursos oceánicos a través del derecho internacional también ayudará a mitigar algunos de los retos que enfrentan los océanos.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2">
            <app-articulo *ngFor="let articulo of articulos" [articulo]="articulo"></app-articulo>
        </div>
    </div>
</div>

