<div class="logo">
    <img src="assets/img/logo.png" width="7%">
</div>

<div class="container">
    <div class="titulo">
        <h1>España se une a la campaña Mares Limpios de ONU Medio Ambiente</h1>
    </div>
    <div class="contenido">
        <div>
            <h4>
                Autor: Gabriela Nuñez
            </h4>
        </div>
        <div class="imagen">
            <img src="assets/img/Articulo_4.jpg" width="100%">
        </div>
        <div class="texto">
            <p class="p">
                España anunció este miércoles que se suma a la campaña Mares Limpios de ONU Medio Ambiente.<br>

                La 14° economía más grande del mundo se une a la iniciativa que busca limpiar los mares de plásticos y que cuenta con el respaldo de 32 estados miembros.<br>

                “En los últimos seis años hemos desarrollado la nueva Estrategia Marina de España y uno de sus objetivos principales es abordar la cuestión de la basura que termina en los océanos», dijo Raquel Orts Nebot, Directora General de Sostenibilidad de la costa y el mar de España. «En este sentido, confirmo que España se une a la campaña de ONU Medio Ambiente sobre la limpieza de los mares, con el firme propósito de apoyar esta iniciativa global y contribuir a su impacto en todo el mundo».<br>

                “El compromiso de España con esta campaña envía un mensaje importante a toda la región mediterránea y al mundo”, dijo el Director Ejecutivo de ONU Medio Ambiente, Erik Solheim. “Los océanos son fundamentales para nuestra supervivencia y debemos hacer todo lo que podamos para protegerlos”.<br>

                El plástico causa importante de daños ambientales y problemas de salud. Contamina el medio ambiente; mata aves, peces y otros animales que lo confunden con alimentos y perjudica los destinos turísticos y la pesca.<br>

                Sin embargo, el uso de plástico sigue creciendo. Cada año, 8 millones de toneladas son arrojadas a los océanos cada año.Gran parte de este desperdicio está compuesto por plásticos desechables, como vasos, bolsas, pajitas, botellas y microplásticos (pequeñas partículas) provenientes de productos cosméticos. Si mantenemos el ritmo actual, para 2050 habrá más plástico que peces en los océanos.<br>

                En el Mediterráneo, recientemente se destacó el crecimiento de una masa de residuos plásticos con concentraciones similares a la isla de basura del Pacífico Norte.<br>

                La campaña Mares Limpios pide a los gobiernos que creen leyes nacionales eficaces y estímulos para que las empresas y los ciudadanos produzcan y consuman de forma más sostenible.<br>

                Indonesia se ha comprometido a reducir la basura marina en un 70%, Canadá ha incluido los microplásticos en la lista de sustancias y Nueva Zelanda, Reino Unido y EE.UU. las han prohibido.<br>   
                    
            </p>
        </div>
    </div>
    <div>
        <footer>
            <div>
                <p class="referencia">
                    Fuente: https://www.un.org/sustainabledevelopment/es/2017/10/espana-se-une-a-la-campana-mares-limpios-de-onu-medio-ambiente/
                </p>
            </div>
            <div class="boton">
                <button routerLink="" type="button" class="btn btn-dark btn-lg">Regresar</button>
            </div>
        </footer>
    </div>
    
</div>
