<div class="logo">
    <img src="assets/img/logo.png" width="7%">
</div>

<div class="container">
    <div class="titulo">
        <h1>Una década (2021-2030) para impulsar las ciencias oceánicas</h1>
    </div>
    <div class="contenido">
        <div>
            <h4>
                Autor: James Joyce
            </h4>
        </div>
        <div class="imagen">
            <img src="assets/img/Articulo_2.jpg" width="100%">
        </div>
        <div class="texto">
            <p class="p">
                La ONU proclama el período 2021-2030 como la Década de las Ciencias Oceánicas para el Desarrollo Sostenible.<br>

                El objetivo es movilizar a la comunidad científica, pero también a los políticos, a las empresas y a la sociedad civil en torno a un programa común de investigación y de innovación tecnológica.<br>

                Una de las prioridades durante esos diez años será «reforzar y diversificar las fuentes de financiación”.

                En la actualidad los países dedican a las ciencias oceánicas entre el 0,04 % y el 4 % del dinero invertido en investigación y desarrollo (I+D).<br>

                Sin embargo, hay casi 3.000 millones de personas que dependen de la biodiversidad marina y costera para su subsistencia, y los océanos absorben casi un tercio del dióxido de carbono generado por el hombre y atenúan así el impacto del calentamiento climático.<br>

                La Organización de Naciones Unidas para la Educación, la Ciencia y la Cultura (UNESCO) destaca que pese a la importancia que tiene, la ciencia no ha conseguido evaluar los efectos acumulativos que tienen las actividades humanas en los océanos y sus consecuencias en términos de contaminación, de calentamiento o de acidificación.<br>

                Su directora general, Audrey Azoulay, pidió a todas las partes que se impliquen para «coordinar los esfuerzos de investigación».
            </p>
        </div>
    </div>
    <div>
        <footer>
            <div>
                <p class="referencia">
                    Fuente: https://www.un.org/sustainabledevelopment/es/2017/12/una-decada-2021-2030-para-impulsar-las-ciencias-oceanicas/
                </p>
            </div>
            <div class="boton">
                <button routerLink="" type="button" class="btn btn-dark btn-lg">Regresar</button>
            </div>
        </footer>
    </div>
    
</div>

