<div class="logo">
    <img src="assets/img/logo.png" width="7%">
</div>

<div class="container">
    <div class="titulo">
        <h1>Peter Thomson, nuevo enviado especial de la ONU para los océanos</h1>
    </div>
    <div class="contenido">
        <div>
            <h4>
                Autor: Joaquin Cosio
            </h4>
        </div>
        <div class="imagen">
            <img src="assets/img/Articulo_6.jpg" width="100%">
        </div>
        <div class="texto">
            <p class="p">
                El Secretario General de la ONU nombró hoy a Peter Thomson, nacional de Fiji y presidente saliente del 71º periodo de sesiones de la Asamblea General, como enviado especial de Naciones Unidas para los Océanos, según informó el portavoz de la Organización, Stephan Dujarric.<br>

                Con este cargo, António Guterres trata de impulsar y dar seguimiento a los esfuerzos conseguidos durante la Conferencia de las Naciones Unidas sobre los Océanos, celebrada en junio pasado y, a la vez, de apoyar la Agenda 2030 para el desarrollo sostenible.<br>

                Dujarric explicó que Thomson dirigirá las actividades de promoción y divulgación pública en materia de protección de los océanos tanto dentro como fuera del sistema de las Naciones Unidas.<br>

                “Thomson velará por que se analicen y apliquen plenamente los numerosos resultados positivos de la Conferencia Oceánica, incluidos los cerca de 1.400 compromisos voluntarios”, indicó.<br>

                El portavoz añadió que colaborará con la sociedad civil, la comunidad científica, el sector privado y otras partes relevantes para fomentar sus actividades orientadas a la consecución del Objetivo de Desarrollo Sostenible número 14, que busca la conservación y el uso sustentable de los océanos.          
                            
            </p>
        </div>
    </div>
    <div>
        <footer>
            <div>
                <p class="referencia">
                    Fuente: https://www.un.org/sustainabledevelopment/es/2017/09/peter-thomson-nuevo-enviado-especial-de-la-onu-para-los-oceanos/
                </p>
            </div>
            <div class="boton">
                <button routerLink="" type="button" class="btn btn-dark btn-lg">Regresar</button>
            </div>
        </footer>
    </div>
    
</div>