<div class="col ">
    <div class="card">
        <div class="titulo">
            <h1>{{articulo.titulo}}</h1>
        </div>
        <div class="autor">
            {{articulo.autor}}
        </div>
        <div class="contenido" >
            {{articulo.contenido}}
        </div>
        <div class="imagen">
            <img src="{{articulo.imagen}}" alt="">
        </div>
        <div class="referencia">
            {{articulo.referencia}}
        </div>
        <div class="boton">
            <button routerLink="{{articulo.ruta}}" type="button" class="btn btn-dark">Ver más</button>
        </div>

    </div>
</div>
