img{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
}
h1{
    font-size: 2rem;
}
.articulo{
    margin-top: 5%;
}
.col{
    margin-top: 10%;
    
}
.card{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ffffff;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px rgba(56, 56, 56, 0.2);
    margin-bottom: 5%;
    
}
.titulo{
    padding-top: 5%;
    text-align: justify;
}
.boton{
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: right !important;
    align-items: center;
    text-align: left;
}
.autor{
    color: rgb(179, 179, 179);
}
.contenido{
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    
}
.referencia{
    font-size: .7rem;
    justify-content: right;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}
button:hover{
    transform: scale(1.1,1.1);
}
