<div class="logo">
    <img src="assets/img/logo.png" width="7%">
</div>

<div class="container">
    <div class="titulo">
        <h1>Bachelet premiada por la ONU por su impacto positivo en el medio ambiente</h1>
    </div>
    <div class="contenido">
        <div>
            <h4>
                Autor: Jaime Aguiñaga
            </h4>
        </div>
        <div class="imagen">
            <img src="assets/img/Articulo_3.jpg" width="100%">
        </div>
        <div class="texto">
            <p class="p">
                Seis líderes recibieron hoy el premio Campeones de la Tierra durante la celebración de la tercera Asamblea de la ONU para el Medio Ambiente, en Nairobi, Kenia. <br>

                Es el reconocimiento ambiental más importante de las Naciones Unidas y este año lo han recibido la presidenta de Chile, Michelle Bachelet, y el Centro de vuelo espacial Goddard de la NASA, entre otros, por su importante impacto positivo en el medio ambiente.<br>

                Bachelet fue premiada en la categoría de liderazgo político por la creación de áreas marinas protegidas y por su impulso a las energías renovables.<br>

                En octubre de 2015, la presidenta chilena estableció varios parques marinos que han llevado la cobertura total de áreas protegidas de Chile a superar el millón de km2, la más grande del mundo.<br>

                Además de la protección del medio ambiente marino, sus políticas han estimulado el aumento de la producción de energía renovable de 6% a 17% del total de la combinación energética de Chile en solo 4 años.<br>

                «Chile le ha mostrado al mundo que se no se necesita ser un país rico para preservar el medio ambiente”, dijo la presidenta Bachelet. “Me siento honrada de ser incluida en este grupo excepcional de personas y agradecida por ser reconocida como uno de los Campeones de la Tierra, el galardón ambiental más importante de la ONU».<br>

                Ciencia e Innovación<br>

                Paul A. Newman y el Centro Goddard de Vuelo Espacial de la NASA han sido reconocidos en la categoría de Ciencia e Innovación por crear instrumentos satelitales que miden la capa de ozono. La capa de ozono ahora se está recuperando y volverá a los niveles de 1980 a mediados de siglo.<br>

                Visión emprendedora<br>

                Mobike, ganó en la categoría de visión emprendedora, por explorar soluciones de mercado para la contaminación del aire y el cambio climático. Es la compañía más grande del mundo en ofrecer un sistema inteligente de bicicletas compartidas. Después de dos años de operación, la plataforma cuenta con más de 100 millones de usuarios registrados en más de 100 ciudades en todo el mundo y acumula más de 20 millones de viajes cada día.<br>

                Cada bicicleta Mobike tiene un rastreador GPS que permite a la empresa recoger las bicicletas que no se mueven o no se utilizan -aunque están diseñadas para no recibir mantenimiento durante cuatro años-. La compañía también tiene un plan de incentivo que otorga puntos de bonificación por el estacionamiento adecuado para alentar a los usuarios a dejar sus bicicletas en áreas designadas.<br>

                El cineasta ganador del Premio Emmy Jeff Orlowski fue premiado por su trabajo en la difusión de poderosos mensajes ambientales a una audiencia global.

                Orlowski es el fundador de Exposure Labs, que utiliza el poder de los relatos para crear un impacto positivo. En 2012 dirigió el documental centrado en el clima Chasing Ice, que se ha proyectado en más de 172 países, 70 universidades, más de 75 festivales de cine, la Casa Blanca (EE.UU.) y las Naciones Unidas.<br>

                La Comunidad de forestación de Saihanba ha logrado, después de tres generaciones, aumentar la cobertura forestal de 12 a 80%. El bosque ahora suministra 137 millones de metros cúbicos de agua limpia a las áreas de Pekín y Tianjin cada año, mientras descarga 550.000 toneladas métricas de oxígeno. El bosque ha impulsado el crecimiento económico con sectores verdes, generando US$ 15.1 millones solo en 2016.<br>

                Por último, el premio a la trayectoria fue para Wang Wenbiao, presidente de Elion Resources Group, por toda una vida de liderazgo en la industria ecológica.<br>

                Mejor conocido en China como el «Hijo del Desierto», Wang, de 61 años, es el presidente de la mayor empresa privada de industrias ecológicas de China, Elion Resources Group, con activos totales de más de US$ 1.600 millones.<br>
                            
    </p>
        </div>
    </div>
    <div>
        <footer>
            <div>
                <p class="referencia">
                    Fuente: https://www.un.org/sustainabledevelopment/es/2017/12/bachelet-y-la-nasa-premiados-por-la-onu-por-su-impacto-positivo-en-el-medio-ambiente/
                </p>
            </div>
            <div class="boton">
                <button routerLink="" type="button" class="btn btn-dark btn-lg">Regresar</button>
            </div>
        </footer>
    </div>
    
</div>

