<div class="logo">
    <img src="assets/img/logo.png" width="7%">
</div>

<div class="container">
    <div class="titulo">
        <h1>El mundo se compromete a acabar con la contaminación en Cumbre de Nairobi.</h1>
    </div>
    <div class="contenido">
        <div>
            <h4>
                Autor: Tom Harrison
            </h4>
        </div>
        <div class="imagen">
            <img src="assets/img/Articulo_1.jpg" width="100%">
        </div>
        <div class="texto">
            <p class="p">
                El mundo se comprometió en Nairobi a acabar con la contaminación al cierre de la Asamblea de la ONU para el medio Ambiente, donde se registraron casi 2.5 millones de promesas de gobiernos, sociedad civil, empresas e individuos que potencialmente mejorarán la vida de millones de personas en todo el planeta.<br>

                Si se cumplen todos los compromisos asumidos en la cumbre, 1490 millones más de personas respirarán aire puro, 480.0000 kilómetros de costas en el mundo estarán limpias y se dispondrá de 18.6 millones de dólares para la investigación y el desarrollo de programas innovadores en contra de la contaminación.<br>

                En la Asamblea también se aprobaron 13 resoluciones no vinculantes y tres decisiones. Entre ellas, medidas para enfrentar la basura marina y los micro plásticos, prevenir y reducir la contaminación del aire, eliminar el plomo de la pintura y las baterías, proteger los ecosistemas hídricos y controlar la polución en las zonas afectadas por los conflictos y el terrorismo.<br>

                Asimismo, los ministros de medio ambiente emitieron una declaración. El documento indica que las naciones honrarán los esfuerzos para prevenir, mitigar y gestionar la contaminación del aire, de la tierra y el suelo, del agua dulce y de los océanos, que perjudica nuestra salud, sociedades, ecosistemas, economías y seguridad.
                La degradación ambiental causa 12.6 millones de muertes al año, además de la destrucción generalizada de ecosistemas clave. La contaminación del aire es la principal causa de muerte por motivos ambientales.
            </p>
        </div>
    </div>
    <div>
        <footer>
            <div>
                <p class="referencia">
                    Fuente: https://www.un.org/sustainabledevelopment/es/2017/12/el-mundo-se-compromete-acabar-con-la-contaminacion-en-cumbre-de-nairobi/
                </p>
            </div>
            <div class="boton">
                <button routerLink="" type="button" class="btn btn-dark btn-lg">Regresar</button>
            </div>
        </footer>
    </div>
    
</div>
